-- Hacer el bucket público para poder visualizar las imágenes y vídeos
UPDATE storage.buckets SET public = true WHERE id = 'message_media';

-- Eliminar políticas antiguas rotas (la anterior dependía de 'owner' que falla al subir desde JS)
DROP POLICY IF EXISTS "Users can upload message media" ON storage.objects;
DROP POLICY IF EXISTS "Users can delete own message media" ON storage.objects;

-- Crear políticas infalibles para los adjuntos de mensajes
CREATE POLICY "Public Access Message Media" 
ON storage.objects FOR SELECT 
USING (bucket_id = 'message_media');

CREATE POLICY "Auth Users Upload Message Media" 
ON storage.objects FOR INSERT 
WITH CHECK (
    bucket_id = 'message_media' AND 
    auth.role() = 'authenticated'
);

CREATE POLICY "Auth Users Update Message Media" 
ON storage.objects FOR UPDATE 
USING (
    bucket_id = 'message_media' AND 
    auth.role() = 'authenticated'
);

CREATE POLICY "Auth Users Delete Message Media" 
ON storage.objects FOR DELETE 
USING (
    bucket_id = 'message_media' AND 
    auth.role() = 'authenticated'
);
